* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial';
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: #02151C; }

.header {
  width: 100%;
  height: 56px;
  font-family: 'Bangers', cursive;
  color: #B97D10;
  background: #6A0C0B;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .headerButton {
  height: 2em;
  color: #6A0C0B;
  background-color: #FBCA03;
  border: 1px solid #6A0C0B;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 455px) {
  .header .headerButton {
    font-size: 0.7em;
  }
}
#permission-btn {
  font-family: 'Bangers';
} 
.header_start {
  width: 2.5em;
}

.main {
  margin-top: 5em; 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
#listForm {
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #FBCA03;
  background-color: #6A0C0B;
  border: none;
  outline: none;
  content: none;
}
.custom-button {
  font-size: 18px;
  width: 6em;
  height: 4em;
  background-color: #FBCA03;
  background-image: url("../images/ironMan.png");
  background-size: 2em 3em;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  outline: none;
  border: 0.3em solid #6A0C0B;
  margin-left: 2em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
}
.custom-button:hover {
  background-image: url("../images/ironManHover.png");
  border: 0.3em solid #6A0C0B;
}
.custom-button:focus {     
    background-color: #AA0505;
}
.custom-button::after {
  content: "Hide";
}
#ironMan {
  width: 4em;
  height: 5em;
}
#shoppingList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 3em;
}
.list-group-item {
  width: 90%;
  padding: .5rem .75rem;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  color: #FBCA03;
}
.list-group-item:first-child {
  border-radius: 0;
}
.list-group-item:last-child {
  border-radius: 0;
}
.list-group-item i.fa-square {
  flex-grow: 0;
  cursor: pointer;
  order: 1;
  color: #B97D10;
}
.list-group-item i.fa-check-square {
  display: none;
  color: #B97D10;
}
.list-group-item i.fa-trash-alt {
  flex-grow: 0;
  cursor: pointer;
  color: #AA0505;
  order: 3;
}
.list-group-item i.fa-trash-alt:hover {
  color: #6A0C0B;
}
.list-group-item .todo-text {
  flex-grow: 1;
  margin: 0 10px;
  order: 2;
}
.list-group-item.done i.fa-check-square {
  flex-grow: 0;
  cursor: pointer;
  color: #28a745;
  display: block;
}
.list-group-item.done i.fa-square {
  display: none;
}
.list-group-item.done .todo-text {
  text-decoration: line-through;
  color: #888;
}
@media only screen and (min-width: 600px) {
  .list-group-item  {
    width: 60%;
  }
}
@media only screen and (min-width: 1000px) {
  input {
    width: 40%
  }
  .list-group-item  {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .list-group-item  {
    width: 40%;
  }
}